registry=https://pkgs.dev.azure.com/propvivodevops/CRM/_packaging/newdev/npm/registry/


always-auth=true

; begin auth token
//pkgs.dev.azure.com/propvivodevops/CRM/_packaging/newdev/npm/registry/:username=propvivodevops
//pkgs.dev.azure.com/propvivodevops/CRM/_packaging/newdev/npm/registry/:_password="NnozYXZ5ZDRyNGxnd3lhcngycWlmYXllenpsNDRkbXpvNm16emtzbjJ0aTQ3amZocW0zYQ=="
//pkgs.dev.azure.com/propvivodevops/CRM/_packaging/newdev/npm/registry/:email=anshuman.srivastava@propvivo.com
//pkgs.dev.azure.com/propvivodevops/CRM/_packaging/newdev/npm/:username=propvivodevops
//pkgs.dev.azure.com/propvivodevops/CRM/_packaging/newdev/npm/:_password="NnozYXZ5ZDRyNGxnd3lhcngycWlmYXllenpsNDRkbXpvNm16emtzbjJ0aTQ3amZocW0zYQ=="
//pkgs.dev.azure.com/propvivodevops/CRM/_packaging/newdev/npm/:email=anshuman.srivastava@propvivo.com
; end auth token